<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="QTrip API Testing">
    <groups>
        <run>
            <include name="API Tests"></include>
        </run>
    </groups>
    <test name="QTrip API">
        <classes>
            <class name="qtriptest.APITests.testCase_API_01"/>
            <class name="qtriptest.APITests.testCase_API_02"/>
            <class name="qtriptest.APITests.testCase_API_03"/>
            <class name="qtriptest.APITests.testCase_API_04"/>
            <class name="qtriptest.tests.testCase_01"/>
        </classes>
    </test>
</suite>